<div id="top-content">
  <h1 class="text-center">Banner</h1>
</div>
<div id="left-content" class="col-md-3">
  <%= render partial: "elements/left_menu" %>
</div>
<div id="right-content" class="col-md-9">
  <%= render partial: "elements/books_content" %>
</div>